# Verify your email

Hi {{name}},

Someone (hopefully you) requested to another link to confirm your email, so here you go.

<a href="{{ link }}" class="btn btn-primary">Verify my email</a>

If you didn't request this email, you can just ignore it.
